<!DOCTYPE html>
<html>
<head>
  <title>UizaDemo User Management</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "user" %>
</head>

<body>
  <ul>
    <li>
      <a href="#">My Profile</a>
    </li>
    <li>
      <a href="#">User management</a>
    </li>
    <li>
      <a href="#">Video management</a>
    </li>
  </ul>
</body>
</html>